# file types
*.hic
*.results
*.mat
*.pptx
*.m~
*.asv

# folders
functions/depreciated/
functions/dev/
sampleData/
exampleScripts/dev/
paperFiles/

# exceptions
!/sampleData/indexFiles/publicDataIndex.xlsx
