# file types
*.hic
*.results
*.mat
*.pptx
*.m~
*.asv
*.DS_Store
*.gct
*.cls
*~$*
.DS_Store

# folders
paperFiles/
dev/

# exceptions
# !data/sampleData/indexFiles/sample*.xlsx
data/indexFiles/sampleMyodTrimDataIndexTp-48_8_80.xlsx
