# file types
*.hic
*.results
*.mat
*.pptx
*.m~
*.asv
*.DS_Store

# folders
functions/depreciated/
data/sampleData/*
data/sampleData/indexFiles/*
paperFiles/
classes/
dev/

# exceptions
!data/sampleData/indexFiles/sample*.xlsx
